html,body {
  height: 100%;
}
body {
  margin: 0;
  background: #e5e9ec;
}

body { font-family: 'Open Sans', sans-serif; min-height: 100%; color:#33373a; background-color:#f5f6f8; }
a {text-decoration: none; color: #4a34a2; }
* { box-sizing: border-box;}


ul { margin:0; padding:0; list-style:none; }

#notice { position: fixed; top:0; left: 0; right: 0; width: 100%; height: 50px; background-color: #ff6060; z-index: 1; }
#notice p { color: #fff; font-size: 14px; text-align: center; }

header { width:100%; position:fixed; top:0; left:0; right:0; height:60px; background-color:#fff; box-shadow: 0 1px 2px #d6dbe1;}
header .row { font-size: 0;}
header .row .col { width: 50%; display: inline-block; font-size: 14px; vertical-align: middle; height: 60px;}
header .row .col.left .search { padding-left: 300px;}
header .row .col.left .search svg { color: #ccc; }
header .row .col.left .search input{ height: 60px; width: 100%; font-weight: 100;max-width: 400px; border:none; outline: none; text-indent: 20px; font-size: 30px; color: #e4e4e4; font-family: Open Sans,sans-serif;}
header .row .col.left .search input:hover { border-bottom: #e4e4e4 solid 2px;}

header .row .col.right { text-align: right; }
header .row .col.right ul { margin-right: 20px;}
header .row .col.right ul li { display: inline-block; }
header .row .col.right ul li  .avatar { position: relative; width: 100%;}
header .row .col.right ul li  .avatar img { border-radius: 100px; max-width: 50px; }

#login { height: 100%;}
#login .logo { width: 250px; height: 60px; border: #ccc solid 1px; position: absolute; left: 25px; top:25px;}
#login .row { height: 100%; font-size: 0;}
#login .row .col { height: 100%;  font-size: 12px; width: 50%; display: inline-block; vertical-align: top;}
#login .row .col.left { }
#login .row .col.right { background-color: #fff;}

#login .auth { width: 50%; margin: auto; height: 100%;}
#login h1 { font-weight: 400; font-size: 30px;}
form .input { position: relative; margin-bottom: 15px;}
form .input.error input { border:#bc2031 solid 1px;}
form .input .txt {     min-height: 46px;
    width: 100%;
    padding-left: 20px;
    border: 1px solid #dbe2ea;
    border-radius: 4px;
    display: block;
    margin: 0 auto;
    outline: none;
}
form .row { font-size: 0; margin-bottom: 15px; }
form .row .col { font-size: 12px; }
form .row.c2 .col { width: 50%; display: inline-block; vertical-align: top;}
form .row.c2 .col:first-child { padding-right: 5px;}
form .row.c2 .col:last-child { padding-left: 5px;}

form .row.c3 .col { width: 33.33%; display: inline-block; vertical-align: top;}
form .row.c3 .col:first-child { padding-right: 5px;}
form .row.c3 .col:last-child { padding-left: 5px;}
form .profile_pic { text-align: center; margin: auto; width: 100px; height: 100px; margin-bottom: 35px;}
form .profile_pic img { width: 100%; height: auto; border-radius: 100px; border: dashed 1px #e4e4e4; }
form .input span.required { position: absolute; top: 15px; right: 15px; color:#bc2031; font-size: 10px;}

form .dropdown { border: #ccc solid 1px; width: 100%; height: 35px; position: relative; cursor: pointer;}
form .dropdown a { width: 33px; height: 33px; background-color: #333; color: #fff; position: absolute; top:0; botto:0; right:0; text-align: center; line-height: 33px;}
form .dropdown:hover { cursor: pointer; }
form .dropdown input { border: #ccc solid 1px; margin-bottom: 3px;}
form .dropdown h5 { background-color: #fbfbfb; width: 100%; height: 33px; margin: 0; line-height: 33px; font-size: 12px; text-indent: 15px; font-weight: normal; }
form .dropdown .option { position: absolute; background-color: #fff; width: 100%; top: 35px; height: 200px; padding: 10px; box-shadow: 0px 0px 10px rgba(0,0,0,.25); display: none;}
form .dropdown .option ul {overflow: scroll;height: 140px; font-size: 14px;}
form .dropdown .option ul li:first-child { margin-top: 5px;}
form .dropdown .option ul li.title { font-weight: bold; color: #333; text-indent: 5px;}
form .dropdown .option ul li { color: #333; text-indent: 15px; padding-top: 3px; padding-bottom: 3px;}
form .dropdown .option ul li:hover { background-color: #333; color: #fff;}

form #map { width: 100%; height: 300px; background-color: #fbfbfb; border: #ccc solid 1px;}

a.btn {
  display: inline-block;
  font-size: 15px;
  padding: 6px 18px;
  font-size: 12px;
  line-height: 20px;
  text-transform: uppercase;
  border-radius: 20px;
  background-color: initial;
  border: 2px solid #432f93;
  color: #401c86;
  letter-spacing: .15px;
  background-color: #432f93;
  color: #fff;
  transition: all .3s;
}
a.btn:hover { transform: scale(.95);  }


.table { display: inline-table; width: 100%; min-height: 100%; }
  .table .tr { display: table-cell; vertical-align: middle; }


/* UI LAYOUT: ROWS /  COLUMNS */
.row { width: 100%; font-size: 0;}
.row .col { font-size: 14px; display: inline-block; vertical-align: top;}
.row .col.vmiddle { vertical-align: middle;}
.row.c2 .col { width: 50%;}
.row.c3 .col { width: 33.33%}
.row.c4 .col { width: 25%; }
.row.c6x4 .col:first-child { width: 60%; }
.row.c6x4 .col:last-child { width: 40%; }


/* UI LAYOUT: NAV */
#app .sidebar { width: 250px; min-height: 100%; background-color: #1b1e24; position:fixed;z-index: 1;  }
#app .sidebar .brand { background: #22262e; height: 60px; position: relative;}
#app .sidebar .brand h1 { color: #fff; text-align: left; margin: 0; text-indent: 10px; line-height: 55px; font-size: 20px;}
#app .sidebar .brand h1 span { font-weight: 100; }
#app .sidebar .brand .utils { width: 65px; height: 30px; position: absolute; top: 15px; right: 10px; font-size: 0;}
#app .sidebar .brand .utils a { width: 30px; height: 30px; display: block; text-align: center;background-color: #1b1e24; display: inline-block; font-size: 15px; color: #fff; line-height: 30px;}
#app .sidebar .brand .utils a:first-child { margin-right: 2px;}
#app .sidebar .user { padding-left: 80px; padding-top: 15px;height: 70px;  position: relative; margin-bottom: 50px;}
#app .sidebar .user .avatar { position: relative; width: 100%; position: absolute; left: 20px; top: 10px; }
#app .sidebar .user .avatar img { border-radius: 100px; max-width: 50px; }
#app .sidebar .user .avatar span.online { position: absolute; bottom: 0;}
#app .sidebar .user h2 { color: #fff; font-size:19px; font-weight: 400; margin: 0;}
#app .sidebar .user h3 { color: #929fa5; font-weight: 200; font-size: 13px; margin: 0;}

#app .sidebar nav ul { margin-left: 15px; }
#app .sidebar nav ul li { margin-bottom: 20px;}
#app .sidebar nav ul li a { color: #8b91a0; font-size: 14px; font-weight: 300; display: block; position: relative;}
#app .sidebar nav ul li a:hover { color: #fff; }
#app .sidebar nav ul li a svg { margin-right: 5px; display:inline-block; text-align: center; min-width: 25px;}
#app .sidebar nav ul li a span { font-size: 20px; position: absolute; right: 15px; top:-5px; }
#app .sidebar nav ul li.sub { background-color: #22262e; margin-left: -30px; padding-top: 20px; padding-bottom:15px; display: none; }
#app .sidebar nav ul li.sub a {  margin-left: 60px; font-size: 13px; color: #e1eaf1; margin-bottom: 8px; position: relative; }


#app .panel { padding-top:105px;}
#app .panel.left nav { border:#ccc solid 1px; padding-left:25px;}
#app .panel.left nav ul { text-align: center;}
#app .panel.left nav ul li { display: inline-block; margin: 10px 10px}
#app .panel.left nav ul li a { color:#333;  }
#app .panel.left nav ul li svg { margin-right:10px; }

#app .page { margin-left: 280px; margin-right: 30px; }
#app .page .breadcrumb { margin-bottom: 50px; }



form { padding-top: 25px;}
form .row { margin-bottom: 15px;}
form label { display: block; font-size: 12px; font-weight: 500; margin-bottom: 5px; font-weight: bold;}
form input { display: block; width: 100%; height: 35px; text-indent: 10px;}
form select { display: block; width: 100%; height: 35px; text-indent: 10px; background-color: #fff; border-radius: 0 !important;}

form input.half { max-width: 50%;}
form textarea { display: block; width: 100%; border: #cccccc solid 1px; text-indent: 10px; resize: none; padding-top: 5px;}

/* TABLE BORDERED */
table.bordered { border: #e8edf1 solid 1px; width: 100%; }
table.bordered thead tr th {  text-transform: uppercase; font-size: 12px; letter-spacing: .07em; background-color: #ecf0f2; padding:12px;}
table.bordered tbody tr td { font-size:12px; color: #333; padding: 10px; border-right: #e8edf1 solid 1px; border-bottom: #e8edf1 solid 1px; }
table.bordered tbody tr td:last-child { border-right: none; }
table.bordered tbody tr:last-child td { border-bottom: none; }

table.bordered tfoot tr td { font-size:12px; color: #333; padding: 10px; border-right: #fff solid 1px; border-bottom: #e8edf1 solid 1px; border-top:#000 solid 2px; }


/* PANELS */
.panel.window { background-color: #fff; padding: 20px; box-shadow: 0px 0px 15px rgba(0,0,0,.10); margin-bottom: 25px; padding-top: 0px !important; }
    .panel.window .tab { position: relative;}
    .panel.window .tab .options { position: absolute; top:5px; right:15px; border: #ccc solid 1px;}
    .panel.window .tab .options a { background-color: #fff; width: 25px; height: 25px; text-align: center; display: inline-block; color: #333;}
    .panel.window .tabs { background-color: #d1dade; margin-left: -20px; margin-top: -20px; margin-right: -20px; height: 40px; overflow: hidden; font-size: 0;}
    .panel.window .tabs a.tref { display: inline-block; font-size: 13px; color: #8e9aa2; vertical-align: top; line-height: 42px; padding-left: 10px; padding-right: 10px; height: 40px; font-weight: 500; }
    .panel.window .tabs a.tref:hover { background-color: #fff; color: #333; box-shadow: 1px 1px 2px rgba(0,0,0,.1);  }
    .panel.window .tabs a.tref.active { background-color: #fff; color: #333; box-shadow: 1px 1px 2px rgba(0,0,0,.1);  }
    .panel.window .tab { margin-bottom: 5px; margin-top: 5px; display: none;}
    .panel.window .tab.active { display: block;}
    .panel.window .tab h1 { font-weight: 200; color: #333; margin-bottom: 35px; margin-top: 35px;}
    .panel.window .tab h1 svg { margin-right: 5px; color: #555;}
	.panel.window .row.actions { padding: 15px; margin-bottom: 30px; }


    .panel.window table thead tr th { background-color: #ecf0f2; padding: 7px; color: #6f7b8a;}


/* STATS */
.stats { width: 100%; font-size: 0; margin-bottom: 50px;}
.stats .row { margin-bottom: 15px;}
.stats .box { background-color: #e4e4e4; padding: 20px; display:inline-block; font-size: 14px; width: 100%; height: 100px;}
.stats .box.green { background-color: #0aa699; }
.stats .box.red { background-color: #f35958; }
.stats .box.purple { background-color: #735f87; }
.stats .box.blue { background-color: #0090d9; }
.stats .col:first-child { padding-right: 10px;}
.stats .col:last-child { padding-left: 10px;}


/* GLOBAL */
.hidden { display: none;}

/* UI COMPONENTS: Datagrid */
.datagrid { background-color:#fff;}
.datagrid  .actions { padding-top: 10px; padding-bottom: 25px;}
.datagrid h2 { font-weight: 100; padding-top: 0; margin-top: 0; }
.datagrid h2 span { font-weight: 600; }
.datagrid table tbody { display: none;}
.datagrid table tbody tr:hover { background-color: rgba(0,0,0,.015); cursor: pointer;}
.datagrid ul.pagination { text-align: center; margin-top:10px;}
.datagrid ul.pagination li { display: inline-block; width: 30px; height: 30px;  border: #ccc solid 1px; margin-left: 5px; margin-right:px; background-color: #fbfbfb;}
.datagrid ul.pagination li a { display: block; color: #333; line-height: 30px;}
.datagrid ul.pagination li a:hover { background-color: #333; color: #fbfbfb; width: 30px; height: 30px; }
.table { display: inline-table; width: 100%; min-height: 100%; }
.table .tr { display: table-cell; vertical-align: middle; }

/* UI COMPONENTS: Form Datagrid */
form .form-datagrid { background-color:#fff;}
form .form-datagrid .overflow { border: #e4e4e4 solid 1px;  min-height: 200px;}
form .form-datagrid  .actions { padding-top: 10px; padding-bottom: 25px;}
form .form-datagrid .search {  display: block;}
form .form-datagrid .search input { max-width: 50%; margin-bottom: 5px;}
form .form-datagrid h2 { font-weight: 100; padding-top: 0; margin-top: 0; }
form .form-datagrid h2 span { font-weight: 600; }
form .form-datagrid table tbody {}
form .form-datagrid table tbody tr:hover { background-color: rgba(0,0,0,.015); cursor: pointer;}


/* MODAL */
#modal { position: fixed; top:0; bottom: 0; left:0; right: 0; width: 100%; height: 100%; background-color: rgba(0,0,0,.80); z-index: 1000; display: none;}
#modal .window { position: absolute; width: 100%; max-width: 650px; margin: auto; left:0; right: 0; top:30px;}
#modal .alert { width: 300px; height: 150px; background-color: #fff; position: absolute; left:0; right: 0; margin: auto;}
#modal .alert h3 { margin: 0; padding: 0; text-align: center;}
#modal .alert p { margin: 0; padding: 0; text-align: center;}

/* UI LAYOUT: ROWS /  COLUMNS */
.row { width: 100%; font-size: 0;}
.row .col { font-size: 14px; display: inline-block; vertical-align: top; width: 50%;}
.row .col.aleft { text-align: left;}
.row .col.aright { text-align: right;}
.row .col.vmiddle { vertical-align: middle;}
.row.c2 .col { width: 50%;}
.row.c3 .col { width: 33.33%}
.row.c4 .col { width: 25%; }
.row.c6x4 .col:first-child { width: 60%; }
.row.c6x4 .col:last-child { width: 40%; }
.row.spacing .col:first-child { padding-right: 10px; }
.row.spacing .col:last-child { padding-left: 10px; }
.row.full .col { width:100%;}


.container { background-color:#fff; padding: 20px;}
.container .head { border-bottom: #e4e4e4 solid 1px;  margin-bottom: 30px;}
.container h2 { font-weight: 100; padding-top: 0; margin-top: 0; font-size: 21px; }
.container h2 span { font-weight: 600; }
.container h2 em {font-size: 12px;}
