html,body {
  height: 100%;
}
body {
  margin: 0;
}

body { font-family: 'Open Sans', sans-serif; min-height: 100%; color:#33373a; background-color:#f5f6f8; }
a {text-decoration: none; color: #4a34a2; }
* { box-sizing: border-box;}


ul { margin:0; padding:0; list-style:none; }

#notice { position: fixed; top:0; left: 0; right: 0; width: 100%; height: 50px; background-color: #ff6060; z-index: 1; }
#notice p { color: #fff; font-size: 14px; text-align: center; }

header { width:100%; position:fixed; top:0; left:0; right:0; height:60px; background-color:#fff;     box-shadow: 0 1px 2px #d6dbe1;}

#login { height: 100%;}
#login .logo { width: 250px; height: 60px; border: #ccc solid 1px; position: absolute; left: 25px; top:25px;}
#login .row { height: 100%; font-size: 0;}
#login .row .col { height: 100%;  font-size: 12px; width: 50%; display: inline-block; vertical-align: top;}
#login .row .col.left { }
#login .row .col.right { background-color: #fff;}

#login .auth { width: 50%; margin: auto; height: 100%;}
#login h1 { font-weight: 400; font-size: 30px;}
form .input { position: relative; margin-bottom: 15px;}
form .input.error input { border:#bc2031 solid 1px;}
form .input .txt {     min-height: 46px;
    width: 100%;
    padding-left: 20px;
    border: 1px solid #dbe2ea;
    border-radius: 4px;
    display: block;
    margin: 0 auto;
    outline: none;
}
form .input span.required { position: absolute; top: 15px; right: 15px; color:#bc2031; font-size: 10px;}
a.btn {
  display: inline-block;
  font-size: 15px;
  padding: 6px 18px;
  font-size: 12px;
  line-height: 20px;
  text-transform: uppercase;
  border-radius: 20px;
  background-color: initial;
  border: 2px solid #432f93;
  color: #401c86;
  letter-spacing: .15px;
  background-color: #432f93;
  color: #fff;
  transition: all .3s;
}
a.btn:hover { transform: scale(.95);  }


.table { display: inline-table; width: 100%; min-height: 100%; }
  .table .tr { display: table-cell; vertical-align: middle; }


/* UI LAYOUT: ROWS /  COLUMNS */
.row { width: 100%; font-size: 0;}
.row .col { font-size: 14px; display: inline-block; vertical-align: top;}
.row .col.vmiddle { vertical-align: middle;}
.row.c2 .col { width: 50%;}
.row.c3 .col { width: 33.33%}
.row.c4 .col { width: 25%; }

/* UI LAYOUT: NAV */
#app .panel { padding-top:60px;}
#app .panel.left nav { border:#ccc solid 1px; padding-left:25px;}
#app .panel.left nav ul { text-align: center;}
#app .panel.left nav ul li { display: inline-block; margin: 10px 10px}
#app .panel.left nav ul li a { color:#333;  }
#app .panel.left nav ul li svg { margin-right:10px; }



form { background-color: #fff; padding: 20px; box-shadow: 0px 0px 20px rgba(0,0,0,.20); max-width: 500px; margin-bottom: 25px;}
form .row { margin-bottom: 15px;}
form label { display: block; font-size: 14px; font-weight: 500; margin-bottom: 5px;}
form input { display: block; width: 100%; height: 35px; text-indent: 10px;}

/* GLOBAL */
.hidden { display: none;}

/* UI COMPONENTS: Datagrid */
.datagrid { }
.datagrid table { width: 100%; border: #e4e4e4 solid 1px; margin: auto; background-color: #fff;}
.datagrid table thead { background-color: #e4e4e4;}
