{{> head}}
{{> header}}

<main id="app">
  {{> sidebar}}
  <section class="panel">
    <section class="page">

        <div class="container">
          <div class="row head">
            <div class="col">
              <h2>Ver de<span> Clientes</span></h2>
            </div>
            <div class="col aright">  </div>
          </div>



        </div>

    </section>


  </section> <!-- /panel -->
</main>
<script>
App.onReady = function(){
  Page = {
    data : null,

    init: function(){
      var _self = this;

    },
    mounted: function(){
      var _self = this;

    }
  }
  Page.init();
};
</script>

{{> footer}}
