{{> head}}
{{> header}}

<main id="app">
  {{> sidebar}}
  <section class="panel">
    <section class="page">

        <div class="container">
          <div class="row head">
            <div class="col">
              <h2>Catálogo de<span> Clientes</span></h2>
            </div>
            <div class="col aright">
              <a href="#" class="btn add onClick" data-exec="modal" data-src="form.cliente">+</a>
              <a href="#" class="btn more">:</a>
            </div>
          </div>


          <div class="datagrid">
            <div class="actions">
              <div class="row">
                <div class="col">
                  <select><option>25</option><option>50</option><option>100</option></select>
                </div>
                <div class="col aright">
                  <label><input id="search" name="search" type="text" class="" placeholder="Búsqueda..." /></label>
                </div>
              </div>
            </div>
            <table id="tblClientes" cellpadding="0" cellspacing="0" class="bordered" data-ctrl="cliente" data-search="nombre">
              <thead>
                <tr>
                  <th>Cliente No.</th>
                  <th>Nombre</th>
                  <th>Tel.</th>
                  <th>Tel. Móvil</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr data-id="{id}">
                  <td align="center">{folio}</td>
                  <td align="center">{nombre}</td>
                  <td align="center">{telefono}</td>
                  <td align="center">{movil}</td>
                  <td align="center"><a href="javascript:void(0)" class="onClick" data-exec="modalUpdate" data-src="form.articulo">editar</a> | <a href="javascript:void(0)" class="onClick" data-exec="delete">eliminar</a></td>
                </tr>
              </tbody>
              <tfoot></tfoot>
            </table>
            <div class="pagination"></div>
          </div>
        </div>

    </section>


  </section> <!-- /panel -->
</main>
<script>
App.onReady = function(){
  Page = {
    data : null,
    table : $("#tblClientes"),
    init: function(){
      var _self = this;
      objDAO.execute("cliente",{ exec : "getClientes"},function(e){
        _self.data = e.json.data;
        _self.mounted();
      });
    },
    mounted: function(){
      var _self = this;
      objDatagrid.setTable(_self.table,_self.data);
      objDatagrid.renderTable(_self.data);
    }
  }
  Page.init();
};
</script>

{{> footer}}
