{{> head}}
{{> header}}

  <main id="app">
   {{> sidebar}}
    <section class="panel">
    <section id="animal" class="page cliente">
	<div class="breadcrumb"><h5>Home &raquo; Ganado</h5></div>

    
    

  </section> <!-- /panel -->
  </main>

{{> footer}}