{{> head}}
{{> header}}

<main id="app">
  {{> sidebar}}
  <section class="panel">
    <section id="almacen" class="page cliente">
	<div class="breadcrumb"><h5>Home &raquo; Administración de Articulos</h5></div>
    <script>
    $(document).ready(function(){
      $(".tabs a").click(function(){
        $(".tabs a").removeClass("active");
        $(this).addClass("active");
        var idx = $(this).data("idx");
        $(".tab").removeClass("active");
        $(".tab.t"+idx).addClass("active");
      });
    });
    </script>
    <div class="panel window">
      <div class="tabs"><a href="#" class="tref active" data-idx="1">Catálogo</a></a></div>
      <div class="tab t1 active">
        <h1><i class="fas fa-pencil-alt"></i> Registro de Articulo</h1>
        <form id="frmAlmacen" name="frmAlmacen" data-model="almacen">
          <div class="row c3">
            <div class="col">
              <label>Nombre de Articulo</label>
              <input type="text" placeholder="Nombre" id="articulo" name="articulo" class="isRequired" />
            </div>
            <div class="col">
              <label>Unidad</label>
              <input type="text" placeholder="(Ej. kg,lts,pieza,lote)" id="unidad" name="unidad" class="isRequired" />
            </div>
            <div class="col">
              <label>Código de Barras</label>
              <input type="text" placeholder="" id="codigo" name="codigo" class="isRequired" />
            </div>

          </div>

          <div class="row c2">
            <div class="col">
              <label>Proveedor</label>
              <div class="dropdown">
                <a href="#"><i class="far fa-plus-square"></i></a>
                <h5>(Seleccione una Opción)</h5>
                <div class="option">
                <input type="text" id="dsearch" name="dsearch" />
                <ul>
                  <li class="title">Medicamentos</li>
                  <li value="1">Penicilina</li>
                  <li value="2">Mejoralito</li>
                  <li value="3">Penicilina</li>
                  <li value="4">Mejoralito</li>
                  <li value="5">Penicilina</li>
                  <li value="6">Mejoralito</li>
                  <li value="7">Penicilina</li>
                  <li value="8">Mejoralito</li>
                  <li value="9">Penicilina</li>

                </ul>
                </div>
                <input type="hidden" id="id_proveedor" name="id_proveedor" />
              </div>
              <script>
                $(document).ready(function(){
                    $(".dropdown h5").click(function(){
                      $(this).parent().find(".option").slideToggle();
                    });
                    $(".dropdown .option ul li").click(function(){
                      var val = { value: $(this).val(),text: $(this).html() };
                      $(this).parents().find(".option").slideUp();
                      $(this).parents().find("input[type='hidden']").val(val.value);
                      $(this).parents().find("h5").html(val.text);
                    });
                });
              </script>

            </div>
            <div class="col"></div>
          </div>

          <div class="row actions">
            <div class="col"><a href="javascript:void(0)" data-exec="save" class="btn onClick">Guardar</a></div>
          </div>

          <div class="row">
            <table id="tblAlmacen" cellpadding="0" cellspacing="0" class="bordered onLoad" data-exec="getAlmacenes">
              <thead>
                <tr>
                  <th>No.</th>
                  <th>Almacen</th>
                  <th>Descripción</th>
                  <th></th>
                </tr>
              </thead>
                <tbody></tbody>
                <tfoot></tfoot>
              </table>
          </div>

        </form>
      </div>
    </div>
  </section>

  <script>
    var objAnimal;
    $(document).ready(function(e){
		objAnimal = new App.Animal();
		objDatagrid.execute(
        { ctrl : "almacen",
          data: { exec : "getAlmacenes" },
          callback: function(r){
            var data = r.json.data;
			  console.log(data);
            var buffer = '';
            for(var i=0;i<data.length;i++){
              buffer += '<tr><td align="center">'+data[i].id+'</td><td align="center">'+data[i].almacen+'</td><td align="center">'+data[i].descripcion+'</td><td>E | E</td></tr>';
            }
            console.log(buffer);
            $("#tblAlmacen > tbody").html(buffer);
          }
        });
	});
    </script>

  </section> <!-- /panel -->
  </main>

{{> footer}}
