<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="UTF-8">
     <title>Estudio Guerra Web Application | by KFNA</title>
     <meta name="description" content="DESCRIPTION">
     <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
     <script defer src="https://use.fontawesome.com/releases/v5.6.3/js/all.js" integrity="sha384-EIHISlAOj4zgYieurP0SdoiBYfGJKkgWedPHH4jCzpCXLmzVsw1ouK59MuUtP4a1" crossorigin="anonymous"></script>
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.9.1/underscore-min.js"></script>
     <script src="_js/all.js"></script>
    <link rel="stylesheet" href="css/app.css">

 </head>
 <body>
