<div id="modal">
  <div class="window"></div>
</div>

 <header>
    <div class="row">
      <div class="col left">
        <ul class="links">
          <li><a href="#" class="collapse"><span class="top"></span><span class="middle"></span><span class="bottom"></span></a></li>
          <li><a href="#" class="reload"><i class="fas fa-redo"></i></a></li>
          <li>|</li>
          <li><a href="#" class="alerts"><i class="far fa-bell"></i><span class="on"></span></a></li>
          <li><input type="text" placeholder="Búsqueda..."/></li>


        </ul>
      </div>
      <div class="col right"></div>
    </div>
  </header>
