

<div id="modal">
  <div class="window"></div>
</div>

 <header>
    <div class="row">
      <div class="col left">
        <ul class="search"><i class="fas fa-search"></i><input type="text" /></div>
      <div class="col right">
        <ul>
          <li>
            <a href="#">Luis Cruz</a> down
          </li>
          <li>
            <a href="#">
              <span class="avatar"><img src="uploads/avatar.jpg"></span>
              <span class="username">Luis Cruz</span>
              <span class="icon">^</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </header>
