<nav>
  <ul>
    <li><a href="#" class="onClickExpand"><i class="fas fa-cash-register"></i>Ventas <span>&rsaquo;</span></a></li>
    <li class="sub">
      <a href="ventas.html">Ventas</a>
      <a href="ventas-reporte.html">Reporte de Ventas</a>
    </li>

    <li><a href="#" class="onClickExpand"><i class="fas fa-users"></i>Clientes <span>&rsaquo;</span></a></li>
    <li class="sub">
      <a href="clientes.html">Clientes</a>
    </li>
    <li><a href="#" class="onClickExpand"><i class="fas fa-doc"></i>Catálogos <span>&rsaquo;</span></a></li>
    <li class="sub">
      <a href="#">Dashboard</a>
      <a href="servicios.html">Paquetes y Servicios</a>
      <a href="proveedores.html">Proveedores</a>
    </li>
    <li><a href="#" class="onClickExpand"><i class="fas fa-comment-dollar"></i>Pagos<span>&rsaquo;</span></a></li>
    <li class="sub">
      <a href="#">Pago a Trabajadores</a>
    </li>
    <li><a href="#" class="onClickExpand"><i class="fas fa-box"></i>Reportes<span>&rsaquo;</span></a></li>
    <li class="sub">
      <a href="#">Reportes Generales</a>
      <a href="#">Video y Secuencia</a>
      <a href="#">Aenda Programada</a>
      <a href="#">Trabajos Pendientes</a>
      <a href="#">Navidad</a>
    </li>
    <li><a href="#" class="onClickExpand"><i class="fas fa-th"></i>Inventarios<span>&rsaquo;</span></a></li>
    <li class="sub">
      <a href="#">Almacenes</a>
      <a href="#">Existencias</a>
    </li>
    <li><a href="#" class="onClickExpand"><i class="fas fa-users-cog"></i>Usuarios<span>&rsaquo;</span></a></li>
    <li class="sub">
      <a href="usuarios.html">Control de Acceso</a>
      <a href="#">Asistencia Personal</a>
    </li>
  </ul>
</nav>
