<section class="sidebar">
  <div class="brand">
    <h1>estudio<span>eguerra</h1>
    <div class="utils">
      <a href="#" title="Dashboard"><i class="far fa-chart-bar"></i></a>
      <a href="#" title="Mapa"><i class="fas fa-map-marked-alt"></i></a>
    </div>
  </div>
  <div class="user">
    <div class="avatar"><img src="uploads/avatar.jpg" /><span class="online"></span></div>
    <h2>Luis Cruz</h2><h3>Administrador</h3>
  </div>
  {{> nav}}
</section>
